
@font-face {
  font-family: "feather";
  src: url('../fonts/feather.hxd'); /* IE9*/
  src: url('../fonts/feather.hxd') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/feather.woff') format('woff'), /* chrome, firefox */
  url('../fonts/feather.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/feather.svg') format('svg'); /* iOS 4.1- */
}

.feather {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-octagon:before { content: "\e81b";color:#000000 }

.icon-alert-circle:before { content: "\e81c";color:#000000 }

.icon-activity:before { content: "\e81d";color:#000000 }

.icon-alert-triangle:before { content: "\e81e";color:#000000 }

.icon-align-center:before { content: "\e81f";color:#000000 }

.icon-airplay:before { content: "\e820";color:#000000 }

.icon-align-justify:before { content: "\e821";color:#000000 }

.icon-align-left:before { content: "\e822";color:#000000 }

.icon-align-right:before { content: "\e823";color:#000000 }

.icon-arrow-down-left:before { content: "\e824";color:#000000 }

.icon-arrow-down-right:before { content: "\e825";color:#000000 }

.icon-anchor:before { content: "\e826";color:#000000 }

.icon-aperture:before { content: "\e827";color:#000000 }

.icon-arrow-left:before { content: "\e828";color:#000000 }

.icon-arrow-right:before { content: "\e829";color:#000000 }

.icon-arrow-down:before { content: "\e82a";color:#000000 }

.icon-arrow-up-left:before { content: "\e82b";color:#000000 }

.icon-arrow-up-right:before { content: "\e82c";color:#000000 }

.icon-arrow-up:before { content: "\e82d";color:#000000 }

.icon-award:before { content: "\e82e";color:#000000 }

.icon-bar-chart:before { content: "\e82f";color:#000000 }

.icon-at-sign:before { content: "\e830";color:#000000 }

.icon-bar-chart-2:before { content: "\e831";color:#000000 }

.icon-battery-charging:before { content: "\e832";color:#000000 }

.icon-bell-off:before { content: "\e833";color:#000000 }

.icon-battery:before { content: "\e834";color:#000000 }

.icon-bluetooth:before { content: "\e835";color:#000000 }

.icon-bell:before { content: "\e836";color:#000000 }

.icon-book:before { content: "\e837";color:#000000 }

.icon-briefcase:before { content: "\e838";color:#000000 }

.icon-camera-off:before { content: "\e839";color:#000000 }

.icon-calendar:before { content: "\e83a";color:#000000 }

.icon-bookmark:before { content: "\e83b";color:#000000 }

.icon-box:before { content: "\e83c";color:#000000 }

.icon-camera:before { content: "\e83d";color:#000000 }

.icon-check-circle:before { content: "\e83e";color:#000000 }

.icon-check:before { content: "\e83f";color:#000000 }

.icon-check-square:before { content: "\e840";color:#000000 }

.icon-cast:before { content: "\e841";color:#000000 }

.icon-chevron-down:before { content: "\e842";color:#000000 }

.icon-chevron-left:before { content: "\e843";color:#000000 }

.icon-chevron-right:before { content: "\e844";color:#000000 }

.icon-chevron-up:before { content: "\e845";color:#000000 }

.icon-chevrons-down:before { content: "\e846";color:#000000 }

.icon-chevrons-right:before { content: "\e847";color:#000000 }

.icon-chevrons-up:before { content: "\e848";color:#000000 }

.icon-chevrons-left:before { content: "\e849";color:#000000 }

.icon-circle:before { content: "\e84a";color:#000000 }

.icon-clipboard:before { content: "\e84b";color:#000000 }

.icon-chrome:before { content: "\e84c";color:#000000 }

.icon-clock:before { content: "\e84d";color:#000000 }

.icon-cloud-lightning:before { content: "\e84e";color:#000000 }

.icon-cloud-drizzle:before { content: "\e84f";color:#000000 }

.icon-cloud-rain:before { content: "\e850";color:#000000 }

.icon-cloud-off:before { content: "\e851";color:#000000 }

.icon-codepen:before { content: "\e852";color:#000000 }

.icon-cloud-snow:before { content: "\e853";color:#000000 }

.icon-compass:before { content: "\e854";color:#000000 }

.icon-copy:before { content: "\e855";color:#000000 }

.icon-corner-down-right:before { content: "\e856";color:#000000 }

.icon-corner-down-left:before { content: "\e857";color:#000000 }

.icon-corner-left-down:before { content: "\e858";color:#000000 }

.icon-corner-left-up:before { content: "\e859";color:#000000 }

.icon-corner-up-left:before { content: "\e85a";color:#000000 }

.icon-corner-up-right:before { content: "\e85b";color:#000000 }

.icon-corner-right-down:before { content: "\e85c";color:#000000 }

.icon-corner-right-up:before { content: "\e85d";color:#000000 }

.icon-cpu:before { content: "\e85e";color:#000000 }

.icon-credit-card:before { content: "\e85f";color:#000000 }

.icon-crosshair:before { content: "\e860";color:#000000 }

.icon-disc:before { content: "\e861";color:#000000 }

.icon-delete:before { content: "\e862";color:#000000 }

.icon-download-cloud:before { content: "\e863";color:#000000 }

.icon-download:before { content: "\e864";color:#000000 }

.icon-droplet:before { content: "\e865";color:#000000 }

.icon-edit-2:before { content: "\e866";color:#000000 }

.icon-edit:before { content: "\e867";color:#000000 }

.icon-edit-1:before { content: "\e868";color:#000000 }

.icon-external-link:before { content: "\e869";color:#000000 }

.icon-eye:before { content: "\e86a";color:#000000 }

.icon-feather:before { content: "\e86b";color:#000000 }

.icon-facebook:before { content: "\e86c";color:#000000 }

.icon-file-minus:before { content: "\e86d";color:#000000 }

.icon-eye-off:before { content: "\e86e";color:#000000 }

.icon-fast-forward:before { content: "\e86f";color:#000000 }

.icon-file-text:before { content: "\e870";color:#000000 }

.icon-film:before { content: "\e871";color:#000000 }

.icon-file:before { content: "\e872";color:#000000 }

.icon-file-plus:before { content: "\e873";color:#000000 }

.icon-folder:before { content: "\e874";color:#000000 }

.icon-filter:before { content: "\e875";color:#000000 }

.icon-flag:before { content: "\e876";color:#000000 }

.icon-globe:before { content: "\e877";color:#000000 }

.icon-grid:before { content: "\e878";color:#000000 }

.icon-heart:before { content: "\e879";color:#000000 }

.icon-home:before { content: "\e87a";color:#000000 }

.icon-github:before { content: "\e87b";color:#000000 }

.icon-image:before { content: "\e87c";color:#000000 }

.icon-inbox:before { content: "\e87d";color:#000000 }

.icon-layers:before { content: "\e87e";color:#000000 }

.icon-info:before { content: "\e87f";color:#000000 }

.icon-instagram:before { content: "\e880";color:#000000 }

.icon-layout:before { content: "\e881";color:#000000 }

.icon-link-2:before { content: "\e882";color:#000000 }

.icon-life-buoy:before { content: "\e883";color:#000000 }

.icon-link:before { content: "\e884";color:#000000 }

.icon-log-in:before { content: "\e885";color:#000000 }

.icon-list:before { content: "\e886";color:#000000 }

.icon-lock:before { content: "\e887";color:#000000 }

.icon-log-out:before { content: "\e888";color:#000000 }

.icon-loader:before { content: "\e889";color:#000000 }

.icon-mail:before { content: "\e88a";color:#000000 }

.icon-maximize-2:before { content: "\e88b";color:#000000 }

.icon-map:before { content: "\e88c";color:#000000 }

.icon-map-pin:before { content: "\e88e";color:#000000 }

.icon-menu:before { content: "\e88f";color:#000000 }

.icon-message-circle:before { content: "\e890";color:#000000 }

.icon-message-square:before { content: "\e891";color:#000000 }

.icon-minimize-2:before { content: "\e892";color:#000000 }

.icon-mic-off:before { content: "\e893";color:#000000 }

.icon-minus-circle:before { content: "\e894";color:#000000 }

.icon-mic:before { content: "\e895";color:#000000 }

.icon-minus-square:before { content: "\e896";color:#000000 }

.icon-minus:before { content: "\e897";color:#000000 }

.icon-moon:before { content: "\e898";color:#000000 }

.icon-monitor:before { content: "\e899";color:#000000 }

.icon-more-vertical:before { content: "\e89a";color:#000000 }

.icon-more-horizontal:before { content: "\e89b";color:#000000 }

.icon-move:before { content: "\e89c";color:#000000 }

.icon-music:before { content: "\e89d";color:#000000 }

.icon-navigation-2:before { content: "\e89e";color:#000000 }

.icon-navigation:before { content: "\e89f";color:#000000 }

.icon-octagon:before { content: "\e8a0";color:#000000 }

.icon-package:before { content: "\e8a1";color:#000000 }

.icon-pause-circle:before { content: "\e8a2";color:#000000 }

.icon-pause:before { content: "\e8a3";color:#000000 }

.icon-percent:before { content: "\e8a4";color:#000000 }

.icon-phone-call:before { content: "\e8a5";color:#000000 }

.icon-phone-forwarded:before { content: "\e8a6";color:#000000 }

.icon-phone-missed:before { content: "\e8a7";color:#000000 }

.icon-phone-off:before { content: "\e8a8";color:#000000 }

.icon-phone-incoming:before { content: "\e8a9";color:#000000 }

.icon-phone:before { content: "\e8aa";color:#000000 }

.icon-phone-outgoing:before { content: "\e8ab";color:#000000 }

.icon-pie-chart:before { content: "\e8ac";color:#000000 }

.icon-play-circle:before { content: "\e8ad";color:#000000 }

.icon-play:before { content: "\e8ae";color:#000000 }

.icon-plus-square:before { content: "\e8af";color:#000000 }

.icon-plus-circle:before { content: "\e8b0";color:#000000 }

.icon-plus:before { content: "\e8b1";color:#000000 }

.icon-pocket:before { content: "\e8b2";color:#000000 }

.icon-printer:before { content: "\e8b3";color:#000000 }

.icon-power:before { content: "\e8b4";color:#000000 }

.icon-radio:before { content: "\e8b5";color:#000000 }

.icon-repeat:before { content: "\e8b6";color:#000000 }

.icon-refresh-ccw:before { content: "\e8b7";color:#000000 }

.icon-rewind:before { content: "\e8b8";color:#000000 }

.icon-rotate-ccw:before { content: "\e8b9";color:#000000 }

.icon-refresh-cw:before { content: "\e8ba";color:#000000 }

.icon-rotate-cw:before { content: "\e8bb";color:#000000 }

.icon-save:before { content: "\e8bc";color:#000000 }

.icon-search:before { content: "\e8bd";color:#000000 }

.icon-server:before { content: "\e8be";color:#000000 }

.icon-scissors:before { content: "\e8bf";color:#000000 }

.icon-share-2:before { content: "\e8c0";color:#000000 }

.icon-share:before { content: "\e8c1";color:#000000 }

.icon-shield:before { content: "\e8c2";color:#000000 }

.icon-settings:before { content: "\e8c3";color:#000000 }

.icon-skip-back:before { content: "\e8c4";color:#000000 }

.icon-shuffle:before { content: "\e8c5";color:#000000 }

.icon-sidebar:before { content: "\e8c6";color:#000000 }

.icon-skip-forward:before { content: "\e8c7";color:#000000 }

.icon-slack:before { content: "\e8c8";color:#000000 }

.icon-slash:before { content: "\e8c9";color:#000000 }

.icon-smartphone:before { content: "\e8ca";color:#000000 }

.icon-square:before { content: "\e8cb";color:#000000 }

.icon-speaker:before { content: "\e8cc";color:#000000 }

.icon-star:before { content: "\e8cd";color:#000000 }

.icon-stop-circle:before { content: "\e8ce";color:#000000 }

.icon-sun:before { content: "\e8cf";color:#000000 }

.icon-sunrise:before { content: "\e8d0";color:#000000 }

.icon-tablet:before { content: "\e8d1";color:#000000 }

.icon-tag:before { content: "\e8d2";color:#000000 }

.icon-sunset:before { content: "\e8d3";color:#000000 }

.icon-target:before { content: "\e8d4";color:#000000 }

.icon-thermometer:before { content: "\e8d5";color:#000000 }

.icon-thumbs-up:before { content: "\e8d6";color:#000000 }

.icon-thumbs-down:before { content: "\e8d7";color:#000000 }

.icon-toggle-left:before { content: "\e8d8";color:#000000 }

.icon-toggle-right:before { content: "\e8d9";color:#000000 }

.icon-trash-2:before { content: "\e8da";color:#000000 }

.icon-trash:before { content: "\e8db";color:#000000 }

.icon-trending-up:before { content: "\e8dc";color:#000000 }

.icon-trending-down:before { content: "\e8dd";color:#000000 }

.icon-triangle:before { content: "\e8de";color:#000000 }

.icon-type:before { content: "\e8df";color:#000000 }

.icon-twitter:before { content: "\e8e0";color:#000000 }

.icon-upload:before { content: "\e8e1";color:#000000 }

.icon-umbrella:before { content: "\e8e2";color:#000000 }

.icon-upload-cloud:before { content: "\e8e3";color:#000000 }

.icon-unlock:before { content: "\e8e4";color:#000000 }

.icon-user-check:before { content: "\e8e5";color:#000000 }

.icon-user-minus:before { content: "\e8e6";color:#000000 }

.icon-user-plus:before { content: "\e8e7";color:#000000 }

.icon-user-x:before { content: "\e8e8";color:#000000 }

.icon-user:before { content: "\e8e9";color:#000000 }

.icon-users:before { content: "\e8ea";color:#000000 }

.icon-video-off:before { content: "\e8eb";color:#000000 }

.icon-video:before { content: "\e8ec";color:#000000 }

.icon-voicemail:before { content: "\e8ed";color:#000000 }

.icon-volume-x:before { content: "\e8ee";color:#000000 }

.icon-volume-2:before { content: "\e8ef";color:#000000 }

.icon-volume-1:before { content: "\e8f0";color:#000000 }

.icon-volume:before { content: "\e8f1";color:#000000 }

.icon-watch:before { content: "\e8f2";color:#000000 }

.icon-wifi:before { content: "\e8f3";color:#000000 }

.icon-x-square:before { content: "\e8f4";color:#000000 }

.icon-wind:before { content: "\e8f5";color:#000000 }

.icon-x:before { content: "\e8f6";color:#000000 }

.icon-x-circle:before { content: "\e8f7";color:#000000 }

.icon-zap:before { content: "\e8f8";color:#000000 }

.icon-zoom-in:before { content: "\e8f9";color:#000000 }

.icon-zoom-out:before { content: "\e8fa";color:#000000 }

.icon-command:before { content: "\e8fb";color:#000000 }

.icon-cloud:before { content: "\e8fc";color:#000000 }

.icon-hash:before { content: "\e8fd";color:#000000 }

.icon-headphones:before { content: "\e8fe";color:#000000 }

.icon-underline:before { content: "\e8ff";color:#000000 }

.icon-italic:before { content: "\e900";color:#000000 }

.icon-bold:before { content: "\e901";color:#000000 }

.icon-crop:before { content: "\e902";color:#000000 }

.icon-help-circle:before { content: "\e903";color:#000000 }

.icon-paperclip:before { content: "\e904";color:#000000 }

.icon-shopping-cart:before { content: "\e905";color:#000000 }

.icon-tv:before { content: "\e906";color:#000000 }

.icon-wifi-off:before { content: "\e907";color:#000000 }

.icon-minimize:before { content: "\e88d";color:#000000 }

.icon-maximize:before { content: "\e908";color:#000000 }

.icon-gitlab:before { content: "\e909";color:#000000 }

.icon-sliders:before { content: "\e90a";color:#000000 }

.icon-star-on:before { content: "\e90b";color:#000000 }

.icon-heart-on:before { content: "\e90c";color:#000000 }